{% extends 'base.html' %}
{% load static %}


{% block links %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<link rel="stylesheet" type="text/css" href="{% static 'css/student_update.css' %}">
{% endblock links %}

{% block title %}Edit Student{% endblock title %}

{% block content %}
<div class="parent">
    <div class="block">
        <br>
        <h2 class='title'>Edit Student</h2>

        <form method="POST" style="width: 300px; margin-left: 350px;">
          {% csrf_token %}
          {% bootstrap_form form %}
          <center><button type="submit" id='btn' class="btn btn-primary" style=" margin-top: 20px;">Edit Student</button></center>
        </form>
    </div>
</div>
{% endblock %}