.parent {
    margin-top: 50px;
}

.block {
    border-radius: 20px;
    width: 700px;
    height: 400px;
    margin: auto;
    background-color: white;
}

.title {
    text-align: center;
}

.info {
    text-align: center;
    font-size: 20px;
}